/* https://www.w3schools.com/css/css3_animations.asp */

@keyframes fadein {
  from   { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from   { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slidein {
  100% { transform: translateY(0%); }
}

.name {
  opacity: 0;
  animation: fadein 2s forwards;
}

.slidein {
  transform: translateY(100vh);
  animation: slidein 1s forwards;
}

.color-btn-l {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  transition: 0.5s;
}

.color-btn-s {
  left: 4px;
  background-color: var(--color-secondary);
  transition: 0.5s;
  transform: var(--color-selector-normal-X);
}

.color-btn-l:hover .color-btn-s {
  transform: var(--color-selector-hover-X);
  background-color: var(--color-primary);
}

.color-btn-l:hover {
  background-color: var(--color-secondary);
}

.down-arrow {
  opacity: 0;
  animation: fadeout 1s infinite;
  animation-delay: calc(((var(--arrow)* -0.25s) + 2s));
}

.logo-anim {
  width: 50px;
  transition: width 0.5s;
}

.logo-anim:hover {
  width: 75px;
  transition: width 0.5s;
}
